
/*This is a comment in CSS*/

body{
    font-family: Georgia, serif;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.centered-wrapper{
    width:800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

/* When giving a child element position absolute you should give the parent position value as well */
/* The child will then be positioned absolute in realtion to the box container of the parent */
/* positioning elements on the page is fundamental to understanding CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
.title{
    position: relative;
    width: 350px;
    text-align: left;
    margin: 0 auto;
}
.title a{
    position: absolute;
}
.title a.seacity{
    left: 30%;
    top: 0;
    
}
.title a.text{
    left: 20%;
    top: 200px;
    
}
.title a.video{
    left: 78%;
    top: 30px;
    
}

a.dead-link:hover{
    opacity: 0;
}

span#ghost{
    opacity: 0.4;
}